@model IEnumerable<Domain.Exam.ExamList>
@{
    ViewData["Title"] = "ShowExamList";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">لیست آزمون ها</h3>
        </div>
        <div class="card-body">
           
            <table class="table table-sm table-responsive table-hover table-striped text-center" style="width: auto">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Update" asp-route-ExamId="@item.Id" class="btn btn-info">ویرایش</a>

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
            <a class="btn btn-primary"  asp-controller="Exams">بازگشت به لیست</a>
        </div>
    </div>
</div>

